.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.cardDetail {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  border-radius: 20px;
  border: solid 2px grey;
  padding: 20px;
  font-size: 1.5rem;
  background: white;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  display: inline-block;
}

.content {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.button {
  width: 300px;
  height: 60px;
  padding: 0 20px;
  outline: none;
  border: none; 
  border-radius: 6px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: #e2eae9;
  background-color: #b9833b;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}

.button:focus-visible {
  box-shadow: 0 0 0 2px #666;
}

.button:hover {
  background-color: #d6a317;
}

.button:active {
  transform: scale(0.96);
}
